@model IEnumerable<WebApp.Models.DishVM>

@{
    ViewData["Title"] = "Dishes";
}

<div class="col-md-12">
    <h1>Dishes</h1>
    <table class="table table-striped" id="dishes">
        <thead class="thead-light">
            <tr>
                <th>
                    
                </th>
                <th scope="col">
                    Dish Name
                </th>
                <th scope="col">
                    Price
                </th>
                <th scope="col">
                    Calories
                </th>
                <th scope="col">
                    Category
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <!-- Fetches the image from the database and displays it -->
                        <img src="~/images/@Html.DisplayFor(modelItem => item.DishImage)" width="150" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DishName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DishPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DishCalories)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DishCategory)
                    </td>
                    <td>
                        <form asp-action="Dishes">
                            <!-- Dropdown selection for the number of dishes -->
                            <select name="DishQuantity" id="DishQuantity">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                            <!-- input elements are not displayed -->
                            <input value="@Html.DisplayFor(modelItem => item.DishId)" name="DishId" type="hidden" />
                            <input value="@Html.DisplayFor(modelItem => item.RestaurantId)" name="RestaurantId" type="hidden" />
                            <input value="@Html.DisplayFor(modelItem => item.DishName)" name="DishName" type="hidden" />
                            <input value="@Html.DisplayFor(modelItem => item.DishPrice)" name="DishPrice" type="hidden" />
                            <!-- Button to add a shopping cart entry -->
                            <button style="font-size:15px" class="btn btn-primary table"><i class="fa fa-cart-plus"></i></button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>