@model IEnumerable<WebApp.Models.DishVM>

@{
    ViewData["Title"] = "Dishes";
}

<h1>Dishes</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DishId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DishName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DishPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DishCalories)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DishCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RestaurantId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DishId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DishName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DishPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DishCalories)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DishCategory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RestaurantId)
            </td>
            <td>
                <form asp-action="Dishes">
                    <input value="@Html.DisplayFor(modelItem => item.DishId)" name="DishId" type="hidden" />
                    <input value="@Html.DisplayFor(modelItem => item.RestaurantId)" name="RestaurantId" type="hidden" />
                    <input value="@Html.DisplayFor(modelItem => item.DishName)" name="DishName" type="hidden" />
                    <input value="@Html.DisplayFor(modelItem => item.DishPrice)" name="DishPrice" type="hidden" />
                    <div class="form-group">
                        <input type="submit" value="To Shopping Cart" class="btn btn-primary" />
                    </div>
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
