@model IEnumerable<WebApp.Models.ShoppingCartVM>

@{
    ViewData["Title"] = "ShoppingCart";
}

<h1>ShoppingCart</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DishId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DishName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RestaurantId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DishId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DishName)
                </td>
                <td class="total">
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RestaurantId)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td>Summe: </td>
            <td></td>
            <td id="sum"></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tfoot>
</table>

<div>
</div>

<form asp-action="ShoppingCartView">
    <div class="form-group">
        <input type="submit" value="Go to checkout" class="btn btn-primary" />
    </div>
</form>
