@model WebApp.Models.CollectionOrderEmployee

@{
    ViewData["Title"] = "Details";
    var idOrder = Model.OrderDetails.OrderId;
}

<div class="col-md-12">
    <div class="row">
        <div class="col">
            <h4>Customer Details</h4>
            <hr />
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <th>
                            Name
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.OrderDetails.CustomerLastname) @Html.DisplayFor(model => model.OrderDetails.CustomerFirstname)
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Address
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.OrderDetails.CustomerAddress)
                        </td>
                    </tr>
                    <tr>
                        <th>
                            City
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.OrderDetails.CustomerVillage)
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Phone number
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.OrderDetails.CustomerPhoneNumber)
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col">
            <h4>Order Details</h4>
            <hr />
            <table class="table table-striped">
                <thead class="thead-light">
                    <tr>
                        <th>
                            Dish Name
                        </th>
                        <th>
                            Price
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Dishes)
                    {
                        <tr>

                            <td>
                                @Html.DisplayFor(modelItem => item.DishQuantity)x @Html.DisplayFor(modelItem => item.DishName)
                            </td>
                            <td class="total">
                                @Html.DisplayFor(modelItem => item.DishPrice)
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot class="tfoot-light">
                    <tr>
                        <td>Summe: </td>
                        <td id="sum"></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <form asp-action="Delivered">
        <div class="form-group">
            <input value="@idOrder" name="idOrder" type="hidden" />
            <input type="submit" value="delivered" class="btn btn-primary" />
        </div>
    </form>
</div>
