@model WebApp.Models.CollectionOrderEmployee

@{
    ViewData["Title"] = "Details";
    var idOrder = Model.OrderDetails.OrderId;
}

<h1>Details</h1>

<div>
    <h4>Customer Details</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDetails.CustomerLastname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderDetails.CustomerLastname)
        </dd>
    </dl>
    <h4>Order Details</h4>
    <hr />
    <table>
        <thead>
            <tr>
                <th>
                    Quantity
                </th>
                <th>
                    Dish Name
                </th>
                <th>
                    Price
                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Dishes)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DishQuantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DishName)
                    </td>
                    <td class="total">
                        @Html.DisplayFor(modelItem => item.DishPrice)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td>Summe: </td>
                <td id="sum"></td>
                <td></td>
            </tr>
        </tfoot>
    </table>
</div>
<form asp-action="Delivered">
    <div class="form-group">
        <input value="@idOrder" name="idOrder" type="hidden" />
        <input type="submit" value="delivered" class="btn btn-primary" />
    </div>
</form>
