@model IEnumerable<WebApp.Models.OrderDetailsEmployee>

@{
    ViewData["Title"] = "Driver";
}


@foreach (var item in Model)
{
<div class="card mb-3" id="employee">
    <div class="card-body">
        <div class="row">
            <div class="col-11">
                <h5 class="card-title">@Html.DisplayFor(modelItem => item.RestaurantName)</h5>
                <p class="card-text">@Html.DisplayFor(modelItem => item.ResaurantAddress)
                <br />
                @Html.DisplayFor(modelItem => item.RestaurantCity)
                <br />
                <br />
                @item.DeliveryTime.ToString("g")
                </p>
            </div>
            <div class="col-1" style="margin-top: 40px">
                <a href="@Url.Action("Details", new { IdOrder = item.OrderId})"><i class="fa fa-info" style="margin-left: 15px;"></i></a>
            </div>
        </div>
    </div>
</div>
}
